 

@charset "utf-8";

/* pannel */
.tv6-pannel{position: relative; margin-bottom: 20px;}
.tv6-pannel.tv6-pannel-x{ margin: -10px -10px 10px;}
.tv6-pannel-bg{border-radius: 2px;}
.tv6-pannel-side{ padding: 0 0 0 20px;}
.tv6-pannel-box{ padding: 10px;}
.tv6-pannel-box.active{ padding: 0; margin: -10px;}
.tv6-pannel_hd{ padding: 10px;}
.tv6-pannel_ft{ margin-top: 10px; padding: 10px 10px 0; text-align: center;}

/* pannel-head */
.tv6-pannel__head{ position: relative; height: 30px;}
.tv6-pannel__head.active{height: 40px;}
.tv6-pannel__head .title{float: left; margin:0; padding-right: 10px; line-height: 24px;}
.tv6-pannel__head .title img{ display: inline-block; width: 24px; height: 24px; margin-right: 10px; vertical-align: -5px;}
.tv6-pannel__head .more{ line-height: 30px;}

/* tabbar */
.tv6_nav__taddar .item{ display: block; text-align: center;}
.tv6_nav__taddar .item .icon{ display: block; text-align: center; font-size: 20px; line-height: 20px;}
.tv6_nav__taddar .item .icon-img{display: inline-block; width: 24px; height: 24px;}
.tv6_nav__taddar .item .title{ display: block; margin-top: 3px; font-size: 12px;;}
.tv6_nav__taddar.fixed{ position: fixed; bottom: 0; width: 100%; padding: 5px 0 0;}

/* vod-list */
.tv6-vodlist__thumb{display: block; position: relative; padding-top: 150%; background: url(../images/load.gif) no-repeat; background-position: 50% 50%; background-size: cover;}
.tv6-vodlist__thumb.square{ padding-top: 100%; background: url(../images/load_f.gif) no-repeat; background-position: 50% 50%; background-size: cover;}
.tv6-vodlist__thumb.active{ padding-top: 60%; background: url(../images/load_w.gif) no-repeat; background-position: 50% 50%; background-size: cover;}
.tv6-vodlist__thumb.picture {background: none; overflow: hidden;}
.tv6-vodlist__thumb.picture img{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.tv6-vodlist__thumb .play{display: none; position: absolute; top: 0; z-index: 1; width: 100%; height: 100%; background: rgba(0,0,0,0.1) url(../images/play.png) center no-repeat;}
.tv6-vodlist__thumb .play.active{ display: block;}
.tv6-vodlist__thumb:hover .play{ display: block;}
.tv6-vodlist__detail.active{ padding: 0 10px 10px;}
.tv6-vodlist__detail .title{ font-size: 14px; margin-bottom: 0;}
.tv6-vodlist__detail .title.active{ font-size: 16px; margin-bottom: 10px;}
.tv6-vodlist__detail .text{ min-height: 19px; font-size: 12px; margin-bottom: 0; margin-top: 5px;}
.tv6-vodlist__detail .text-title{ font-size: 14px; line-height: 18px; margin:11px 0 0; height: 36px; overflow:hidden; text-overflow:ellipsis; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:2;}

@media (min-width: 1200px){	
	.visible-lg { display: block !important;}
	.hidden-lg {display: none !important;}		
}

@media (max-width: 1199px) and (min-width: 992px){
	.visible-md { display: block !important;}
	.hidden-md {display: none!important;}
}

@media (max-width: 991px) and (min-width: 768px){	
	.visible-sm{ display: block !important;}
	.hidden-sm {display: none !important;}	
}

@media (max-width: 991px){	
	
	.tv6-pannel-side{ padding: 0;}
	
	/* screen */
	.tv6-screen__list{ height: 40px; padding:10px 0 10px;overflow:hidden}
	.tv6-screen__list:last-child{ padding: 10px 0 0;}
	.tv6-screen__list li{margin-right:10px;margin-bottom:0}
	.tv6-screen__list li span{padding:2px 5px 2px 0}
	.tv6-screen__list li a{padding:2px 5px 2px;white-space:nowrap}
	.tv6-screen__list.letter-list li a,.tv6-screen__list.letter-list li.active a{padding:2px 5px 2px}
	
	/* vod-list */
	.tv6-vodlist__detail .title.active{ font-size: 14px; margin-bottom: 0;}
	
	/* media-list */
	.tv6-vodlist__media li .thumb .v-thumb{ width: 90px;}
	.tv6-vodlist__media li .thumb .w-thumb{ width: 130px;}
	.tv6-vodlist__media li .thumb .f-thumb{ width: 70px;}	
	
	/* play-list */
	.tv6-content__playlist.column3 li{ width: 50%;}
	.tv6-content__playlist.column6 li{ width: 25%;}
	.tv6-content__playlist.column8 li{ width: 20%;}
	.tv6-content__playlist.column10 li{ width: 16.6666667%;}	
	
	/* modal */
	.tv6-modal__dialog{ width: 320px; margin: 50px auto;}
	
@media (max-width: 767px){	
	.visible-xs { display: block !important;}
	.hidden-xs {display: none!important;}
			
	/* all */	
	body{ font-size: 12px;}	
	
	/* text */
	h1{ font-size:20px; line-height: 24px;}
	h2{ font-size:18px; line-height: 22px;}
	h3{ font-size:16px; line-height: 20px;}
	h4{ font-size:14px; line-height: 18px;}
	h5{ font-size:12px; line-height: 16px;}
	h6{ font-size:10px; line-height: 14px;}
	
	/* btn */
	.btn{padding: 6px 12px;}
	.btn-lg{ padding: 12px 24px;}
	
	/*nav*/
	.nav{ height: 20px;}
	.nav-head > li{ margin-top: 2px; margin-right: 20px;}
	.nav-head > li > a{ padding-bottom: 10px; font-size: 14px;}
	.nav-tabs > li{ margin-left: 20px;}
	.nav-tabs > li > a{padding: 6px 0 6px;}
	.nav-page > li > a{ padding: 0 3px; height: 20px; line-height: 18px;}
	
	/* pic-text */
	.pic-text-silde{ font-size: 12px;}
	
	/* line */
	.top-line:before,.top-line-dot:before{-webkit-transform-origin: 0 0;transform-origin: 0 0;-webkit-transform: scaleY(0.5);transform: scaleY(0.5);}
	.bottom-line:after,.bottom-line-dot:before{ -webkit-transform-origin: 0 100%;transform-origin: 0 100%; -webkit-transform: scaleY(0.5);transform: scaleY(0.5);}
	.m-top-line,.m-top-line-dot,.m-bottom-line,.m-bottom-line-dot{ position: relative;}
	.m-top-line:before,.m-top-line-dot:before{content: " "; position: absolute; left: 0; top: 0; right: 0; width: 100%; height: 1px; -webkit-transform-origin: 0 0;transform-origin: 0 0;-webkit-transform: scaleY(0.5);transform: scaleY(0.5);}
	.m-bottom-line:after,.m-bottom-line-dot:before{content: " "; position: absolute; left: 0; bottom: 0; right: 0; width: 100%; height: 1px; -webkit-transform-origin: 0 100%;transform-origin: 0 100%; -webkit-transform: scaleY(0.5);transform: scaleY(0.5);}

	/* pannel */
	.tv6-pannel{ margin-bottom: 10px;}
	.tv6-pannel.tv6-pannel-x{ margin: 0 0 5px;}
	.tv6-pannel-bg{border-radius: 0;}	
	.tv6-pannel-box{ padding:10px 5px;}
	.tv6-pannel-box.active{ margin:5px;}
	.tv6-pannel_hd{ padding:0 5px 10px;}
	
	/* pannel-head */
	.tv6-pannel__head{ height: 20px;}
	.tv6-pannel__head.active{height: 30px;}
	.tv6-pannel__head .title,.tv6-pannel__head .title a{font-size: 16px;}
	.tv6-pannel__head .title img{ width: 18px; height: 18px; margin-right: 5px; vertical-align: -3px;}
	.tv6-pannel__head .more{ line-height: 20px;}
	
	/* vod-list */
	.tv6-vodlist__thumb .tag{ padding: 0 5px;}
	.tv6-vodlist__thumb .silde-title{ font-size: 12px;}
	.tv6-vodlist__detail .title,.tv6-vodlist__detail .title.active{margin-bottom: 0; font-size: 12px;}	
	
	/* media-list */
	.tv6-vodlist__media li .thumb .v-thumb{ width: 80px;}
	.tv6-vodlist__media li .thumb .w-thumb{ width: 130px;}
	.tv6-vodlist__media li .thumb .f-thumb{ width: 70px;}
	.tv6-vodlist__media li .detail{ padding-left: 10px;}
	.tv6-vodlist__media li .detail.active{ padding-left: 0; padding-right: 10px;}
		
	/* text-list */
	.tv6-vodlist__text li a{ padding:10px 0;}
	.tv6-vodlist__text.downlist li{ padding: 5px 0 0;}
	
	/* play-list */
	.tv6-content__playlist li a{padding:5px 10px;font-size:12px}
	.tv6-content__playlist.column3 li{ float: none; width: 100%;}
	.tv6-content__playlist.column6 li,.tv6-content__playlist.column8 li,.tv6-content__playlist.column10 li{ width: 33.3333333%;}		
	
	/* page */
	.tv6-page li{float:left;width:20%;margin:0;padding:0 5px 0 5px}
	.tv6-page li a,.tv6-page__box li .num{display:block;padding:5px 0;text-align:center}
	.tv6-page li.page-item{ width: auto; margin-bottom: 5px;}
	.tv6-page li.page-item a{ padding: 5px 15px;}
	
	/* extra */
	.tv6-extra{right:15px;bottom:170px}
	.tv6-extra li{padding:8px 0 0}
	.tv6-extra li a,.tv6-extra li span{width:35px;height:35px;line-height:35px;font-size:16px}
	.tv6-extra li a .icon,.tv6-extra li span .icon{font-size:16px}
	.tv6-extra li a img{margin-top:8px;width:18px;height:18px}
	
	/* carousel */
	.carousel .list{ margin-right: 10px;}
	
	/* flickity */
	.flickity-prev-next-button{display: none;}
	.flickity-prev-next-button.previous{left:5px;border-radius:0 5px 5px 0}
	.flickity-prev-next-button.next{right:5px;border-radius:5px 0 0 5px}
	.flickity-page-dots{ bottom: 15px;}
	
	/* modal */
	.tv6-modal__dialog{ width: 100%; margin: 0; padding: 50px 20px;}
	
}
@media (max-width: 374px){
	.visible-mi{ display: block !important;}
	.hidden-mi{display: none !important;}
	
	/* media-list */
	.tv6-vodlist__media li .thumb .v-thumb{ width: 60px;}
	.tv6-vodlist__media li .thumb .w-thumb{ width: 100px;}
	.tv6-vodlist__media li .thumb .f-thumb{ width: 50px;}
	.tv6-vodlist__media li .detail{ padding-left: 10px;}
}